@import url('https://fonts.google.com/share?selection.family=Hammersmith%20One');


* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

#Navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
#Navbar h1 {
  color: #f1356d;
  margin-right: 50px;
  margin-left: 100px;
}
#Navbar .links {
  margin-left: auto;
}
#Navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}
#Navbar a:hover {
    color: #f1356d;
}
main {
  max-width: 600px;
  margin: 5px auto;
  padding: 20px;
}


#content-list{
  margin: 15px auto;
}

.content-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.content-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.content-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.content-preview a{
  text-decoration: none;
}

#comment-create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
#comment-create label {
  text-align: left;
  display: block;
}
#comment-create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
#comment-create input, #comment-create textarea, #comment-create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
#comment-create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

#container  .comment{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#container  .comment:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}


#picture-wall img{
  width: 250px;
  height:400px;
  padding: 20px;
}


/*Drawing*/

#Panel .panel-list, #setting-panel .panel-list, #detail-setting-panel .panel-list{
  min-height: 10px;
  padding: 10px 50px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  display: inline;
}

#Panel a,#setting-panel a, #detail-setting-panel a{
  text-decoration: none;
}

#Panel .panel-list:hover, #setting-panel .panel-list:hover, #detail-setting-panel .panel-list:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

#setting-panel{
  top: 100px;
  left:0px;
  right:0px;
  bottom: 0px;
  width: 600px;
  height: 50px;
  margin: auto;
  display: flex;
}

#detail-setting-panel{
  padding: 20px;
  margin: auto;
  display: flex;
}

#Panel{
  display: block;
}

.canvas{  
}